/* BASE CSS */
body {
  margin: 0;
  padding: 0;
  background-color: #F6F3EC;
  font-family: "Helvetica", sans-serif;
}


/* NAV */
.navbar {
  padding: 10px 32px;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 30px; /* Lidt whitespace i begge sider */
  margin: 0 auto;
}

 .logo img {
  width: 40px; /* Ændrer størrelsen på logo, height justeres efter width */
  height: auto;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #333;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
  font-size: 16px;
}

.nav a:hover {
  color: #ED7E4E;
}

.nav a.active {
  color: #B42132;
}


/* HERO */
.hero-section {
    background-color: #B42132;
    height: 332px;
}

.hero-section h1 {
    padding-left: 69px;
    font-size: 144px;
    padding-top: 20px;
    margin: 0;
}

.hero-section h2 {
    padding-left: 69px;
    font-size: 89px;
    margin: 0;
    font-weight: 600;
}

.hero-section h2 span {
    color: #fff;
}


/* HVAD DER SKER, NÅR DU STOPPER */
.stop-section {
  margin-left: 69px;
  padding: 30px 0 30px 0;
}

h2 {
  font-size: 55px;
  max-width: 60%;
}

.five-quick {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80%;
  gap: 10px;
}

.five-quick .tip {
  border: solid 2px #000;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
}

.five-quick h3 {
  color: #B42132;
  font-weight: 400;
  font-size: 34px;
}

.five-quick h4 {
  font-size: 21px;
  line-height: 1.4;
  font-weight: 400;
}

/* Vælger det 1., 4., 5., 8., 9., 12., osv. element i rækken. (Gentages for hver gruppe af fire elementer) */
.five-quick .tip:nth-child(4n + 1),
.five-quick .tip:nth-child(4n + 4) {
  width: 480px;
  height: 235px;
}

/* Vælger det 2., 3., 6., 7., 10., 11., osv. element i rækken. (Gentages for hver gruppe af fire elementer) */
.five-quick .tip:nth-child(4n + 2),
.five-quick .tip:nth-child(4n + 3) {
  width: 670px;
  height: 185px;
  padding-bottom: 5%;
}

.five-quick .column-2 {
  margin-left: -27%;
}

.five-quick .column-4 {
  margin-top: -4%;
}


/* TIDSLINJE */
.timeline-section {
  background-color: #B42132;
  height: 370px; /* Beholderens faste højde bibeholdes */
  margin-top: 50px;
  color: #fff;
}

.timeline-section .timeline-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
}

.timeline-section .timeline-content {
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; /* Spreder de enkelte elementer (img, h3, p) jævnt i højden */
  /* Centrerer teksten/billederne horisontalt */
  align-items: center; 
  text-align: center;
  padding: 10px 0; /* Lidt padding for at undgå, at indholdet rammer top/bund */
}

.timeline-section .timeline-content h3 {
  font-size: 21px;
}

.timeline-section .timeline-content p {
  max-width: 90%; /* Sikrer, at bredden er ensartet */
  font-size: 21px;
  margin: 0 auto; /* Centrerer p-teksten inden for max-width */
  line-height: 1.4;
}

.timeline-section .timeline-content img {
  width: 80px;
  height: auto;
  margin-bottom: 10px; /* Sætter en fast margin i bunden for at skubbe img væk fra h3 */
  object-fit: cover;
}


/* MYTER */
.myths-section {
  background-color: #000;
  color: #fff;
  padding: 30px 0 30px 0;
}

.myths-section h2 {
  margin: 0;
  margin-left: 69px;
  color: #B42132;
  font-size: 55px;
}

.myths-section h2 span {
  color: #fff;
}

.myths-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 69px;
}

.myths-container .myths-content {
  border: solid 2px #B42132;
  padding: 30px;
}

.myths-content h3 {
  font-size: 34px;
}

.myths-content h3 span {
  color: #ED7E4E;
}

.myths-content p {
  font-size: 21px;
}

.myths-content .subtext {
  max-width: 80%;
  line-height: 1.4;
}


/* FOOTER */
footer {
  background-color: #B42132;
  height: 178px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20%;
}

.footer-info h3 {
  padding-top: -8px;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-info p, a {
  font-size: 13px;
}

.footer-info a {
  color: #000;
}

.footer-content .this-site {
  color: #fff;
}

.footer-content .footer-logo img {
  width: 130px;
  height: auto;
  opacity: 50%;
  padding-top: 8px;
}


/*  LAPTOP (under 1200px) */
@media (max-width: 1200px) {

  /* HERO */
  .hero-section {
    height: auto;
    padding: 40px 0;
  }

  .hero-section h1 {
    font-size: 70px;
  }

  .hero-section h2 {
    font-size: 55px;
  }


  /* FEM HURTIGE */
  .stop-section h2 {
    font-size: 55px;
    max-width: 100%;
  }
  
  .five-quick {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .five-quick .column-2,
  .five-quick .column-4 {
    margin: 0; /* fjerner skæve forskydninger */
  }

  .five-quick .tip {
    width: 100% !important;
    height: auto !important;
  }


  /* MYTER */
  .myths-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}


/*  TABLET (under 992px) */
@media (max-width: 992px) {

  /* HERO */
  .hero-section {
    height: auto;
    padding: 40px 0;
  }

  .hero-section h1 {
    font-size: 70px;
    max-width: 90%;
  }


  /* FEM HURTIGE */
  .stop-section h2 {
    font-size: 55px;
    max-width: 100%;
  }
  
  .five-quick {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .five-quick .column-2,
  .five-quick .column-4 {
    margin: 0; /* fjerner skæve forskydninger */
  }

  .five-quick .tip {
    width: 100% !important;
    height: auto !important;
  }


  /* TIDSLINJE */
  .timeline-section {
    height: auto;
    padding: 20px 0;
  }

  .timeline-section .timeline-container {
    grid-template-columns: 1fr;
    row-gap: 35px;
  }

  .timeline-section .timeline-content h3 {
    font-size: 22px;
  }

  .timeline-section .timeline-content p {
    font-size: 18px;
  }


  /* MYTER */
  .myths-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }


  /* FOOTER */
  footer {
    height: 100%;
  }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
    padding: 20px;
  }

  .footer-logo img {
    width: 80px;
  }
}


/*  MOBIL (under 768px) */
@media (max-width: 768px) {

  /* NAV */
  .navbar-inner {
    flex-direction: column;
    gap: 15px;
  }

  .nav {
    gap: 20px;
    font-size: 13px;
  }


  /* HERO */
  .hero-section h1 {
      font-size: 50px;
      padding-left: 20px;
  }

  .hero-section h2 {
      font-size: 40px;
      padding-left: 20px;
  }


  /* FEM HURTIGE */
  .stop-section {
    margin-left: 20px;
  }

  .stop-section h2 {
    font-size: 40px;
    max-width: 100%;
  }

  .five-quick {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 90%;
  }

  .five-quick .tip {
    padding: 20px;
    height: auto;
    width: 100%;
  }

  .five-quick h3 {
    font-size: 28px;
  }

  .five-quick h4 {
    font-size: 22px;
  }


  /* MYTER */
  .myths-section h2 {
    margin-left: 20px;
    font-size: 40px;
  }

  .myths-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .myths-content h3 {
    font-size: 28px;
  }

  .myths-content p {
    font-size: 20px;
  }
}